{
  "swagger": "2.0",
  "info": {
    "description": "Swagger for Payment initiation and Account information APIs Specification",
    "title": "Payment initiation and Account information APIs Specification",
    "termsOfService": "https://backstage.forgerock.com/knowledge/openbanking/article/a45894685",
    "contact": {
      "name": "ForgeRock AS",
      "url": "https://master.forgerock.financial",
      "email": "openbanking-support@forgerock.com"
    },
    "license": { "name": "open-licence", "url": "https://www.openbanking.org.uk/open-licence" }
  },
  "host": "rs.aspsp.master.forgerock.financial",
  "basePath": "/",
  "tags": [
    { "name": "Discovery", "description": "the discovery API" },
    { "name": "MtlsTest", "description": "Test your MTLS setup" },
    { "name": "callback-url-api-controller", "description": "the event notification callback urls API" },
    { "name": "domestic-payment-consents-api-controller", "description": "the domestic-payment-consents API" },
    { "name": "domestic-payments-api-controller", "description": "the domestic-payments API" },
    {
      "name": "domestic-scheduled-payment-consents-api-controller",
      "description": "the domestic-scheduled-payment-consents API"
    },
    { "name": "domestic-scheduled-payments-api-controller", "description": "the domestic-scheduled-payments API" },
    {
      "name": "domestic-standing-order-consents-api-controller",
      "description": "the domestic-standing-order-consents API"
    },
    { "name": "domestic-standing-orders-api-controller", "description": "the domestic-standing-orders API" },
    { "name": "errors-api-controller", "description": "Errors Api Controller" },
    { "name": "file-payment-consents-api-controller", "description": "the file-payment-consents API" },
    { "name": "file-payments-api-controller", "description": "the file-payments API" },
    { "name": "funds-confirmation-api-controller", "description": "the funds-confirmation API" },
    { "name": "funds-confirmation-consents-api-controller", "description": "the funds-confirmation-consents API" },
    {
      "name": "international-payment-consents-api-controller",
      "description": "the international-payment-consents API"
    },
    { "name": "international-payments-api-controller", "description": "the international-payments API" },
    {
      "name": "international-scheduled-payment-consents-api-controller",
      "description": "the international-scheduled-payment-consents API"
    },
    {
      "name": "international-scheduled-payments-api-controller",
      "description": "the international-scheduled-payments API"
    },
    {
      "name": "international-standing-order-consents-api-controller",
      "description": "the international-standing-order-consents API"
    },
    { "name": "international-standing-orders-api-controller", "description": "the international-standing-orders API" },
    { "name": "jwk", "description": "the RS JWK API" },
    { "name": "v1.1-AccountRequests", "description": "the account-requests API" },
    { "name": "v1.1-Accounts", "description": "the accounts API" },
    { "name": "v1.1-Balances", "description": "the balances API" },
    { "name": "v1.1-Beneficiaries", "description": "the beneficiaries API" },
    { "name": "v1.1-Direct-Debits", "description": "the direct-debits API" },
    { "name": "v1.1-Payments", "description": "the payment-submissions API" },
    { "name": "v1.1-Products", "description": "the products API" },
    { "name": "v1.1-Standing-Orders", "description": "the standing-orders API" },
    { "name": "v1.1-Transactions", "description": "the transactions API" },
    { "name": "v2.0-Account-Requests", "description": "the account-requests API" },
    { "name": "v2.0-Accounts", "description": "the accounts API" },
    { "name": "v2.0-Balances", "description": "the balances API" },
    { "name": "v2.0-Beneficiaries", "description": "the beneficiaries API" },
    { "name": "v2.0-Direct-Debits", "description": "the direct-debits API" },
    { "name": "v2.0-Offers", "description": "the offers API" },
    { "name": "v2.0-Party", "description": "the party API" },
    { "name": "v2.0-Payments", "description": "the payment-submissions API" },
    { "name": "v2.0-Products", "description": "the products API" },
    { "name": "v2.0-Scheduled-Payments", "description": "the scheduled-payments API" },
    { "name": "v2.0-Standing-Orders", "description": "the standing-orders API" },
    { "name": "v2.0-Statements", "description": "the statements API" },
    { "name": "v2.0-Transactions", "description": "the transactions API" },
    { "name": "v3.0-Accounts", "description": "the accounts API" },
    { "name": "v3.0-Balances", "description": "the balances API" },
    { "name": "v3.0-Beneficiaries", "description": "the beneficiaries API" },
    { "name": "v3.0-Direct-Debits", "description": "the direct-debits API" },
    { "name": "v3.0-Offers", "description": "the offers API" },
    { "name": "v3.0-Party", "description": "the party API" },
    { "name": "v3.0-Products", "description": "the products API" },
    { "name": "v3.0-Scheduled-Payments", "description": "the scheduled-payments API" },
    { "name": "v3.0-Standing-Orders", "description": "the standing-orders API" },
    { "name": "v3.0-Statements", "description": "the statements API" },
    { "name": "v3.0-Transactions", "description": "the transactions API" },
    { "name": "v3.0-account-access-consents", "description": "the account-access-consents API" },
    { "name": "v3.1-Accounts", "description": "the accounts API" },
    { "name": "v3.1-Balances", "description": "the balances API" },
    { "name": "v3.1-Beneficiaries", "description": "the beneficiaries API" },
    { "name": "v3.1-Direct-Debits", "description": "the direct-debits API" },
    { "name": "v3.1-Offers", "description": "the offers API" },
    { "name": "v3.1-Party", "description": "the party API" },
    { "name": "v3.1-Products", "description": "the products API" },
    { "name": "v3.1-Scheduled-Payments", "description": "the scheduled-payments API" },
    { "name": "v3.1-Standing-Orders", "description": "the standing-orders API" },
    { "name": "v3.1-Statements", "description": "the statements API" },
    { "name": "v3.1-Transactions", "description": "the transactions API" },
    { "name": "v3.1-account-access-consents", "description": "the account-access-consents API" }
  ],
  "paths": {
    "/api/jwk/jwk_uri": {
      "get": {
        "tags": ["jwk"],
        "summary": "Get JWK URI",
        "description": "Get the public keys in JWK format",
        "operationId": "jwksUriUsingGET",
        "produces": ["application/json"],
        "responses": {
          "200": { "description": "Public JWKs", "schema": { "type": "string" } },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/open-banking/api/errors/": {
      "get": {
        "tags": ["errors-api-controller"],
        "summary": "getAllErrorTypes",
        "operationId": "getAllErrorTypesUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "INVALID_PAGE_NUMBER",
                  "ACCESS_TOKEN_INVALID_SCOPE",
                  "ACCESS_TOKEN_INVALID_FORMAT",
                  "ACCESS_TOKEN_INVALID",
                  "ACCESS_TOKEN_INVALID_ACCOUNT_REQUEST",
                  "ACCESS_TOKEN_INVALID_PAYMENT_ID",
                  "FINANCIAL_ID_INVALID",
                  "IDEMPOTENCY_KEY_INVALID",
                  "IDEMPOTENCY_KEY_EXPIRED",
                  "IDEMPOTENCY_KEY_REQUEST_BODY_CHANGED",
                  "DETACHED_JWS_INVALID",
                  "DETACHED_JWS_UN_ACCESSIBLE",
                  "MATLS_TPP_AUTHENTICATION_INVALID_FROM_ACCOUNT_REQUEST",
                  "MATLS_TPP_AUTHENTICATION_INVALID_FROM_ACCESS_TOKEN",
                  "ACCOUNT_REQUEST_WAITING_PSU_CONSENT",
                  "ACCOUNT_REQUEST_REJECTED",
                  "ACCOUNT_REQUEST_REVOKED",
                  "ACCOUNT_REQUEST_EXPIRED",
                  "ACCOUNT_REQUEST_NOT_FOUND",
                  "UNAUTHORISED_ACCOUNT",
                  "PERMISSIONS_INVALID",
                  "PERMISSIONS_TRANSACTIONS_INVALID",
                  "PAYMENT_ALREADY_SUBMITTED",
                  "PAYMENT_FILE_ALREADY_SUBMITTED",
                  "PAYMENT_WAITING_PSU_CONSENT",
                  "PAYMENT_STILL_PENDING",
                  "PAYMENT_REJECTED",
                  "PAYMENT_INVALID_INITIATION",
                  "PAYMENT_INVALID_RISK",
                  "PAYMENT_SUBMISSION_NOT_FOUND",
                  "PAYMENT_INVALID_EXCHANGE_RATE_TYPE",
                  "PAYMENT_INVALID_EXCHANGE_RATE",
                  "PAYMENT_SUBMISSION_ALREADY_EXISTS",
                  "PAYMENT_ID_NOT_FOUND",
                  "PAYMENT_CONSENT_BEHIND_SUBMISSION_NOT_FOUND",
                  "CONSENT_STATUS_NOT_AUTHORISED",
                  "FUNDS_CONFIRMATION_STILL_PENDING",
                  "FUNDS_CONFIRMATION_REJECTED",
                  "FUNDS_CONFIRMATION_EXPIRED",
                  "TPP_REGISTRATION_ALREADY_REGISTERED",
                  "TPP_REGISTRATION_UNKNOWN_TRANSPORT_CERTIFICATE",
                  "TPP_REGISTRATION_TRANSPORT_CERTIFICATE_NOT_MATCHING_SSA",
                  "TPP_REGISTRATION_REQUEST_JWT_INVALID",
                  "TPP_REGISTRATION_REQUEST_NOT_MATCHING_SSA",
                  "TPP_REGISTRATION_REQUEST_INVALID_FORMAT",
                  "TPP_REGISTRATION_NOT_REGISTERED",
                  "TPP_REGISTRATION_OIDC_CLIENT_REGISTRATION_ISSUE",
                  "TPP_REGISTRATION_INVALID_ACCESS_TOKEN",
                  "TPP_REGISTRATION_INVALID_OIDC_CLIENT",
                  "TPP_REGISTRATION_INVALID_AUTH_METHOD",
                  "TPP_REGISTRATION_SSA_INVALID",
                  "TPP_REGISTRATION_SSA_INVALID_FORMAT",
                  "REQUEST_FILE_INCORRECT_FILE_HASH",
                  "REQUEST_FILE_WRONG_NUMBER_OF_TRANSACTIONS",
                  "REQUEST_FILE_INCORRECT_CONTROL_SUM",
                  "REQUEST_FILE_EMPTY",
                  "REQUEST_FILE_XML_INVALID",
                  "REQUEST_FILE_JSON_INVALID",
                  "FILE_PAYMENT_REPORT_NOT_READY",
                  "REQUEST_FIELD_INVALID",
                  "REQUEST_OBJECT_INVALID",
                  "REQUEST_PARAMETER_JWT_INVALID",
                  "REQUEST_PARAMETER_JWT_FORMAT_INVALID",
                  "REQUEST_PARAMETER_CLAIM_MANDATORY",
                  "REQUEST_PARAMETER_QUERY_PARAM_DIFF_CLAIM",
                  "REQUEST_PARAMETER_MISSING",
                  "REQUEST_BINDING_FAILED",
                  "REQUEST_ARGUMENT_TYPE_MISMATCH",
                  "REQUEST_METHOD_NOT_SUPPORTED",
                  "REQUEST_MEDIA_TYPE_NOT_SUPPORTED",
                  "REQUEST_MEDIA_TYPE_NOT_ACCEPTABLE",
                  "REQUEST_MESSAGE_NOT_READABLE",
                  "REQUEST_PATH_VARIABLE_MISSING",
                  "REQUEST_MISSING_HEADER",
                  "REQUEST_MISSING_COOKIE",
                  "REQUEST_MISSING_ARGUMENT",
                  "REQUEST_INVALID_HEADER",
                  "REQUEST_EXPIRED_X_IDEMPOTENCY_KEY",
                  "REQUEST_MATCHED_X_IDEMPOTENCY_KEY_ON_UNEQUAL_CONSENT",
                  "REQUEST_MATCHED_X_IDEMPOTENCY_KEY_ON_UNEQUAL_SUBMISSION",
                  "REQUEST_ACCOUNT_ACCESS_CONSENT_PERMISSIONS_ARE_NOT_PERMITTED",
                  "REQUEST_UNDEFINED_ERROR_YET",
                  "SERVER_ERROR",
                  "DATA_INVALID_REQUEST",
                  "ID_TOKEN_INVALID_FORMAT",
                  "ID_TOKEN_INVALID",
                  "RCS_CONSENT_REQUEST_FORMAT",
                  "RCS_CONSENT_REQUEST_INVALID",
                  "RCS_CONSENT_RESPONSE_FAILURE",
                  "RCS_CONSENT_REQUEST_UNKNOWN_ACCOUNT_REQUEST",
                  "RCS_CONSENT_REQUEST_INVALID_CONSENT",
                  "RCS_CONSENT_REQUEST_DEBTOR_ACCOUNT_NOT_FOUND",
                  "RCS_CONSENT_REQUEST_INVALID_PAYMENT_REQUEST",
                  "RCS_CONSENT_REQUEST_NOT_FOUND_TPP",
                  "RCS_CONSENT_REQUEST_INVALID_FUNDS_CONFIRMATION_REQUEST",
                  "RCS_CONSENT_DECISIONS_FORMAT",
                  "RCS_CONSENT_DECISION_EMPTY",
                  "RCS_CONSENT_DECISION_INVALID_USER",
                  "RCS_CONSENT_DECISION_INVALID_ACCOUNT",
                  "ACCESS_TOKEN_CLIENT_ASSERTION_FORMAT_INVALID",
                  "ACCESS_TOKEN_NO_CREDENTIAL",
                  "ACCESS_TOKEN_WRONG_AUTH_METHOD",
                  "ACCESS_TOKEN_CREDENTIAL_NOT_MATCHING_CLIENT_CERTS",
                  "MANUAL_ONBOARDING_SOFTWARE_STATEMENT_ALREADY_ONBOARD",
                  "MANUAL_ONBOARDING_APPLICATION_NOT_FOUND",
                  "MANUAL_ONBOARDING_TPP_NOT_FOUND",
                  "MANUAL_ONBOARDING_WRONG_USER",
                  "HEAD_LESS_AUTH_RCS_URI_INCORRECT",
                  "HEAD_LESS_AUTH_TPP_URI_INCORRECT",
                  "HEAD_LESS_AUTH_TPP_URI_NO_CODE",
                  "HEAD_LESS_AUTH_AS_ERROR_RECEIVED",
                  "HEAD_LESS_AUTH_EXCHANGE_CODE_BODY_ERROR",
                  "SESSION_TOKEN_INVALID_FORMAT",
                  "SESSION_TOKEN_EXPIRED"
                ]
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/open-banking/discovery": {
      "get": {
        "tags": ["Discovery"],
        "summary": "Discover the RS api",
        "description": "Get all the endpoints you need to consume the RS API",
        "operationId": "discoveryUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "responses": {
          "200": { "description": "Discovery endpoints", "schema": { "type": "string" } },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "deprecated": false
      }
    },
    "/open-banking/mtlsTest": {
      "get": {
        "tags": ["MtlsTest"],
        "summary": "Test your MATLS setup",
        "description": "The idea is that you attach your client certificates to the request, and this endpoint will tell you who you are, based on this certificate",
        "operationId": "mtlsTestUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "responses": {
          "200": {
            "description": "Your identity based on the client certificate received",
            "schema": { "$ref": "#/definitions/MtlsTestResponse" }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" }
        },
        "deprecated": false
      }
    },
    "/open-banking/v1.1/account-requests": {
      "post": {
        "tags": ["v1.1-AccountRequests"],
        "summary": "Create an account request",
        "description": "Create an account request",
        "operationId": "createAccountRequestUsingPOST_1",
        "consumes": ["application/json;charset=utf-8"],
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Create an Account Request",
            "required": true,
            "schema": { "$ref": "#/definitions/OBReadRequest1" }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "Header containing a detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/OBReadResponse1" } },
          "201": {
            "description": "FRAccount1 Request resource successfully created",
            "schema": { "$ref": "#/definitions/OBReadResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/account-requests/{AccountRequestId}": {
      "get": {
        "tags": ["v1.1-AccountRequests"],
        "summary": "Get an account request",
        "description": "Get an account request",
        "operationId": "getAccountRequestUsingGET_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountRequestId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the account request resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Request resource successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }],
        "deprecated": false
      },
      "delete": {
        "tags": ["v1.1-AccountRequests"],
        "summary": "Delete an account request",
        "description": "Delete an account request",
        "operationId": "deleteAccountRequestUsingDELETE_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountRequestId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the account request resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "Account Request resource successfully deleted" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts": {
      "get": {
        "tags": ["v1.1-Accounts"],
        "summary": "Get Accounts",
        "description": "Get a list of accounts",
        "operationId": "getAccountsUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadAccount1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts/{AccountId}": {
      "get": {
        "tags": ["v1.1-Accounts"],
        "summary": "Get Account",
        "description": "Get an account",
        "operationId": "getAccountUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resource successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadAccount1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts/{AccountId}/balances": {
      "get": {
        "tags": ["v1.1-Balances"],
        "summary": "Get Account Balances",
        "description": "Get Balances related to an account",
        "operationId": "getAccountBalancesUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Beneficiaries successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadBalance1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts/{AccountId}/beneficiaries": {
      "get": {
        "tags": ["v1.1-Beneficiaries"],
        "summary": "Get Account Beneficiaries",
        "description": "Get Beneficiaries related to an account",
        "operationId": "getAccountBeneficiariesUsingGET_2",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Beneficiaries  successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadBeneficiary1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts/{AccountId}/direct-debits": {
      "get": {
        "tags": ["v1.1-Direct-Debits"],
        "summary": "Get Account Direct Debits",
        "description": "Get Direct Debits related to an account",
        "operationId": "getAccountDirectDebitsUsingGET_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Direct Debits successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadDirectDebit1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts/{AccountId}/product": {
      "get": {
        "tags": ["v1.1-Products"],
        "summary": "Get Account Product",
        "description": "Get Product related to an account",
        "operationId": "getAccountProductUsingGET_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Product successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadProduct1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts/{AccountId}/standing-orders": {
      "get": {
        "tags": ["v1.1-Standing-Orders"],
        "summary": "Get Account Standing Orders",
        "description": "Get Standing Orders related to an account",
        "operationId": "getAccountStandingOrdersUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Standing Orders successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadStandingOrder1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/accounts/{AccountId}/transactions": {
      "get": {
        "tags": ["v1.1-Transactions"],
        "summary": "Get Account Transactions",
        "description": "Get transactions related to an account",
        "operationId": "getAccountTransactionsUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromBookingDateTime",
            "in": "query",
            "description": "The UTC ISO 8601 Date Time to filter transactions FROM  NB Time component is optional - set to 00:00:00 for just Date.   The parameter must NOT have a timezone set",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "toBookingDateTime",
            "in": "query",
            "description": "The UTC ISO 8601 Date Time to filter transactions TO  NB Time component is optional - set to 00:00:00 for just Date.   The parameter must NOT have a timezone set",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Transactions successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadTransaction1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/balances": {
      "get": {
        "tags": ["v1.1-Balances"],
        "summary": "Get Balances",
        "description": "Get Balances",
        "operationId": "getBalancesUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Balances successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadBalance1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/beneficiaries": {
      "get": {
        "tags": ["v1.1-Beneficiaries"],
        "summary": "Get Beneficiaries",
        "description": "Get Beneficiaries",
        "operationId": "getBeneficiariesUsingGET_2",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Beneficiaries successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadBeneficiary1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/direct-debits": {
      "get": {
        "tags": ["v1.1-Direct-Debits"],
        "summary": "Get Direct Debits",
        "description": "Get Direct Debits",
        "operationId": "getDirectDebitsUsingGET_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Direct Debits successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadDirectDebit1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/payment-submissions": {
      "post": {
        "tags": ["v1.1-Payments"],
        "summary": "Create a payment submission",
        "description": "Submit a previously setup payment",
        "operationId": "createPaymentSubmissionUsingPOST_1",
        "consumes": ["application/json;charset=utf-8"],
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentSubmission",
            "description": "Setup a single immediate payment",
            "required": true,
            "schema": { "$ref": "#/definitions/OBPaymentSubmission1" }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key. The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "Header containing a detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/OBPaymentSubmissionResponse1" } },
          "201": {
            "description": "Payment submit resource successfully created",
            "schema": { "$ref": "#/definitions/OBPaymentSubmissionResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["payments"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/payment-submissions/{PaymentSubmissionId}": {
      "get": {
        "tags": ["v1.1-Payments"],
        "summary": "Get a payment submission",
        "description": "Get payment submission",
        "operationId": "getPaymentSubmissionUsingGET_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "PaymentSubmissionId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the payment submission resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment resource successfully retrieved",
            "schema": { "$ref": "#/definitions/OBPaymentSubmissionResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }, { "PSUOAuth2Security": ["payments"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/payments": {
      "post": {
        "tags": ["v1.1-Payments"],
        "summary": "Create a single immediate payment",
        "description": "Create a single immediate payment",
        "operationId": "createSingleImmediatePaymentUsingPOST",
        "consumes": ["application/json;charset=utf-8"],
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "paymentSetupPOSTRequest",
            "description": "Setup a single immediate payment",
            "required": true,
            "schema": { "$ref": "#/definitions/OBPaymentSetup1" }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-idempotency-key",
            "in": "header",
            "description": "Every request will be processed only once per x-idempotency-key.  The Idempotency Key will be valid for 24 hours.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "Header containing a detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/OBPaymentSetupResponse1" } },
          "201": {
            "description": "Payment setup resource successfully created",
            "schema": { "$ref": "#/definitions/OBPaymentSetupResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/payments/{PaymentId}": {
      "get": {
        "tags": ["v1.1-Payments"],
        "summary": "Get a single immediate payment",
        "description": "Get a single immediate payment",
        "operationId": "getSingleImmediatePaymentUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "PaymentId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the payment setup resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Payment resource successfully retrieved",
            "schema": { "$ref": "#/definitions/OBPaymentSetupResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }, { "PSUOAuth2Security": ["payments"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/products": {
      "get": {
        "tags": ["v1.1-Products"],
        "summary": "Get Products",
        "description": "Get Products",
        "operationId": "getProductsUsingGET_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Products successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadProduct1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/standing-orders": {
      "get": {
        "tags": ["v1.1-Standing-Orders"],
        "summary": "Get Standing Orders",
        "description": "Get Standing Orders",
        "operationId": "getStandingOrdersUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Standing Orders successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadStandingOrder1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v1.1/transactions": {
      "get": {
        "tags": ["v1.1-Transactions"],
        "summary": "Get Transactions",
        "description": "Get Transactions",
        "operationId": "getTransactionsUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "fromBookingDateTime",
            "in": "query",
            "description": "The UTC ISO 8601 Date Time to filter transactions FROM  NB Time component is optional - set to 00:00:00 for just Date.   The parameter must NOT have a timezone set",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "toBookingDateTime",
            "in": "query",
            "description": "The UTC ISO 8601 Date Time to filter transactions TO  NB Time component is optional - set to 00:00:00 for just Date.   The parameter must NOT have a timezone set",
            "required": false,
            "type": "string",
            "format": "date-time",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Transactions successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadTransaction1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v2.0/account-requests": {
      "post": {
        "tags": ["v2.0-Account-Requests"],
        "summary": "Create an account request",
        "description": "Create an account request",
        "operationId": "createAccountRequestUsingPOST",
        "consumes": ["application/json;charset=utf-8"],
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "in": "body",
            "name": "body",
            "description": "Create an Account Request",
            "required": true,
            "schema": { "$ref": "#/definitions/OBReadRequest1" }
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-jws-signature",
            "in": "header",
            "description": "Header containing a detached JWS signature of the body of the payload.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK", "schema": { "$ref": "#/definitions/OBReadResponse1" } },
          "201": {
            "description": "FRAccount1 Request resource successfully created",
            "schema": { "$ref": "#/definitions/OBReadResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }],
        "deprecated": false
      }
    },
    "/open-banking/v2.0/account-requests/{AccountRequestId}": {
      "get": {
        "tags": ["v2.0-Account-Requests"],
        "summary": "Get an account request",
        "description": "Get an account request",
        "operationId": "getAccountRequestUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountRequestId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the account request resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Request resource successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadResponse1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }],
        "deprecated": false
      },
      "delete": {
        "tags": ["v2.0-Account-Requests"],
        "summary": "Delete an account request",
        "description": "Delete an account request",
        "operationId": "deleteAccountRequestUsingDELETE",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountRequestId",
            "in": "path",
            "description": "Unique identification as assigned by the ASPSP to uniquely identify the account request resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": { "description": "OK" },
          "204": { "description": "Account Request resource successfully deleted" },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "TPPOAuth2Security": ["tpp_client_credential"] }],
        "deprecated": false
      }
    },
    "/open-banking/v2.0/accounts": {
      "get": {
        "tags": ["v2.0-Accounts"],
        "summary": "Get Accounts",
        "description": "Get a list of accounts",
        "operationId": "getAccountsUsingGET_3",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Accounts successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadAccount2" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v2.0/accounts/{AccountId}": {
      "get": {
        "tags": ["v2.0-Accounts"],
        "summary": "Get Account",
        "description": "Get an account",
        "operationId": "getAccountUsingGET_3",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account resource successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadAccount2" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v2.0/accounts/{AccountId}/balances": {
      "get": {
        "tags": ["v1.1-Balances", "v2.0-Balances"],
        "summary": "Get Account Balances",
        "description": "Get Balances related to an account",
        "operationId": "getAccountBalancesUsingGET_1",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Beneficiaries successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadBalance1" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
        "deprecated": false
      }
    },
    "/open-banking/v2.0/accounts/{AccountId}/beneficiaries": {
      "get": {
        "tags": ["v2.0-Beneficiaries"],
        "summary": "Get Account Beneficiaries",
        "description": "Get Beneficiaries related to an account",
        "operationId": "getAccountBeneficiariesUsingGET",
        "produces": ["application/json;charset=utf-8"],
        "parameters": [
          {
            "name": "AccountId",
            "in": "path",
            "description": "A unique identifier used to identify the account resource.",
            "required": true,
            "type": "string"
          },
          {
            "name": "Authorization",
            "in": "header",
            "description": "An Authorisation Token as per https://tools.ietf.org/html/rfc6750",
            "required": true,
            "type": "string"
          },
          {
            "name": "page",
            "in": "query",
            "description": "Page number.",
            "required": false,
            "type": "string",
            "default": "0",
            "allowEmptyValue": false
          },
          {
            "name": "x-customer-user-agent",
            "in": "header",
            "description": "Indicates the user-agent that the PSU is using.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-ip-address",
            "in": "header",
            "description": "The PSU's IP address if the PSU is currently logged in with the TPP.",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-customer-last-logged-time",
            "in": "header",
            "description": "The time when the PSU last logged in with the TPP.  All dates in the HTTP headers are represented as RFC 7231 Full Dates. An example is below:  Sun, 10 Sep 2017 19:43:31 UTC",
            "required": false,
            "type": "string"
          },
          {
            "name": "x-fapi-financial-id",
            "in": "header",
            "description": "The unique id of the ASPSP to which the request is issued. The unique id will be issued by OB.",
            "required": true,
            "type": "string"
          },
          {
            "name": "x-fapi-interaction-id",
            "in": "header",
            "description": "An RFC4122 UID used as a correlation id.",
            "required": false,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Account Beneficiaries  successfully retrieved",
            "schema": { "$ref": "#/definitions/OBReadBeneficiary2" }
          },
          "400": { "description": "Bad Request" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Forbidden" },
          "404": { "description": "Not Found" },
          "405": { "description": "Method Not Allowed" },
          "406": { "description": "Not Acceptable" },
          "429": { "description": "Too Many Requests" },
          "500": { "description": "Internal Server Error" }
        },
        "security": [{ "PSUOAuth2Security": ["accounts"] }],
[...]
